.imageContainer {
    width: 70%;
    height: 30vh;
    margin: 20px 0;
    min-width: 525px;

    &.leftAlign {
        align-self: flex-start;
    }

    &.rightAlign {
        align-self: flex-end;
    }
}

.image {
    max-height: 300px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}